<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Marrying JS and Python</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3-request.v1.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <button id="button" type="button" class="btn btn-primary">Click me!</button>
            </div>
        </div>
    </div>
    <script src="static/script.js" charset="utf-8"></script>
</body>
</html>
