<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Updating a Gaussian</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3-fetch.v2.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>

    <style>
      body {
        padding-left: 10px;
        padding-top: 2px;
      }
    </style>

</head>
<body>
    <h1>Visualize a distribution</h1>
    <div class="container-fluid">

        <!-- Row for plot -->
        <div class="row">

            <!-- Spacing to center plot -->
            <div class="col-xs-2">
            </div>

            <div class="col-xs-6">
                <div id="plot"></div>
            </div>
        </div>

        <!-- Row for sliders -->
        <div class="row">

            <!-- Spacing to center sliders -->
            <div class="col-xs-3">
                </div>

            <div class="col-xs-4">

                <div id="mean_label"></div>
                <input type="range" id="mean" min="40" max="70"
                         value="60" step="10">

                 <div id="sd_label"></div>
                 <input type="range" id="sd" min="2" max="8"
                       value="2" step="2">

            </div>
        </div>
    </div>

    <script src="../static/script.js" charset="utf-8"></script>
</body>
</html>
