<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Updating a Gaussian</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3-request.v1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
</head>
<body>
    <h1>Visualize a distribution</h1>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-4">

                <div id="mean_label"></div>
                <input type="range" id="mean" min="0" max="100"
                         value="50" step="10">

                 <div id="sd_label"></div>
                 <input type="range" id="sd" min="1" max="10"
                       value="1" step="1">

            </div>
            <div class="col-xs-6">
                <div id="plot">
            </div>
        </div>
    </div>
    <!-- Change to src="static/script.js" when using Flask -->
    <script src="../static/script.js" charset="utf-8"></script>
</body>
</html>
